<h1> Here are good ideas ! </h1>

<div class="row" id="listing">

	<% @sharideas.each do |sharidea| %>
		<div class="row center"><%= sharidea.title %></div>
        <div class="row center"><%= link_to sharidea.url %></div>
	<% end %>
<div>

<%= link_to 'Destroy', @sharidea, method: :delete, data: { confirm: 'Are you sure?' } %>

<div id="create-sharideas">

<%= render 'form' %>

</div>

<div id="back">
<%= link_to 'Back', sharideas_path %>
</div>

