<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field pad-bot">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field pad-bot">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field pad-bot">
    <%= f.fields_for :skills do |skill|%>
      <%= render 'skill_fields', :f => skill %>
      <div class="btn btn-default">
        <%= link_to_add_association 'add skill', f, :skills%>
      </div>
    <%end%>
  </div>

  <div class="field pad-bot">
    <%= f.fields_for :tools do |tool|%>
      <%= render 'tool_fields', :f => tool %>
      <div class="btn btn-default">
        <%= link_to_add_association 'add tool', f, :tools%>
      </div>
    <%end%>
  </div>

  <div class="actions" id="action_btn">
    <%= f.submit %>
  </div>
<% end %>
