<%= notice%>
<%= alert%>
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">

    <div class="panel-heading">
        <h1>Create a project</h1>
    </div>

    <div class="panel-body">
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :image %><br>
          <%= f.file_field :image %>
        </div>
        <div class="form-group">
          <%= f.label :city %><br>
          <%= f.text_area :city, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :latitude %><br>
          <%= f.text_field :latitude, class: "form-control" %>
        </div><div class="form-group">
          <%= f.label :longitude %><br>
          <%= f.text_field :longitude, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :category %><br>
          <%= f.collection_select(:category_id, Category.all, :id, :name) %>
        </div>
        <div class="form-group">
          <%= f.fields_for :skills do |skill|%>
            <%= render 'skill_fields', :f => skill %>
              <div class="btn btn-default">
                <%= link_to_add_association 'add skill', f, :skills%>
              </div>
              <div class="btn btn-default">
                <%= link_to_remove_association 'remove skill', f %>   
              </div>
          <%end%>
        </div>

        <div class="form-group">
          <%= f.fields_for :tools do |tool|%>
            <%= render 'tool_fields', :f => tool %>
            <div class="btn btn-default">
              <%= link_to_add_association 'add tool', f, :tools%>
            </div>
            <div class="btn btn-default">
              <%= link_to_remove_association 'remove tool', f %>
            </div>
          <%end%>
        </div>
        
        <div class="actions" id="action_btn">
          <%= f.submit %>
        </div>
    
    </div>

</div>

<% end %>
