<div class="row" id="firstrowshow">
	<div class="row" id= "show-title">
		<h1><%= @project.name %></h1>
	</div>
	<div class="row" id= "show-title">
		<h1><%= @project.latitude %></h1>
	</div>
	<div class="row" id= "show-title">
		<h1><%= @project.longitude %></h1>
	</div>

	<div class="row">
		<div class="col-sm-7 pad-top" style="text-align: center; margin-bottom: 50px;">
			<%= image_tag @project.image.url(:showth)%>
		</div>
		<div class="col-sm-5 pad-top" style="text-align:center">
			<div><p id="pioneer"></p></div>
				<a href="" class="btn" id="volunteer">Become a volunteer</a>
			<div id="share">Share this project to help his pioneer to find volunteers
				<div id="social_share"> 
					<%= social_share(@project.name, project_path(@project), services: [:facebook, :twitter, :google_plus, :reddit]) %>
				</div>
			</div> 
		</div>
	</div>
</div>


<div class="row pad-top" id="secondrowshow">
	
	<div class="col-sm-8 well pad-top"> 
		<div id="show_project_desc">
			<%= @project.description %>
			<div style="color:red;">
    			inside the description allow people to add one photo or video
			</div>
		</div>
	</div>

	<div class="col-sm-1">
	</div>

	<div class="col-sm-3 well pad-top" id="col_tool_skill">
		<div id"show_skills">
   	 		<ul>
   	 		<p>Skills wanted :</p>
   	 		<% @project.skills.each do |s|%>
   	 			<li class="pad-top"><%= s.name%></li>
   	 		<%end%>
   	 		</ul>	
  		</div>	

			<div id="show_tools" class="pad-top">	
   	 		<ul>
   	 		<p>Tools needed :</p>
	   	 		<% @project.tools.each do |t|%>
	   	 			<li class="pad-top"><%= t.name%></li>
	   	 		<%end%>
   	 		</ul>
			</div>
	</div>
</div>

<div id="back">
	<%= link_to 'Edit', edit_project_path(@project) %>
	<%= link_to 'Back', projects_path %>
</div>
</div>
