<div class="row pad-top" id="firstrowshow">
		<div class="col-md-6" id= "show-photo" style="text-align: center; margin-bottom: 50px;">
				<%= image_tag @project.image.url(:showth)%>
		</div>
	<div class="col-md-6">
		<div class="row">
		<h1 id= "show-title"><%= @project.name %></h1>
		<h1 id= "show-city"><%= @project.city %></h1>
		</div>
		<div class="row" id="headershow">
			<a href="" class="btn" id="volunteer">Become a volunteer</a>
			<div id="social_share"> 
			<%= social_share(@project.name, project_path(@project), services: [:facebook, :twitter, :google_plus, :reddit]) %>
			</div>
		</div>
	</div>
</div>
	<!-- <div class="row" id= "show-title">
		<h1><%= @project.city %></h1>
	</div> -->
	
</div>

<div class="row" id="show-description">
    <div class="col-md-8 col-lg-8">
	    <div class="text-muted text-center hide-sm">
			<div id="show_project_desc">
				<%= @project.description %>
				<div style="color:red;">
	    			inside the description allow people to add one photo or video
				</div>
			</div>
		</div>
    </div>
    <div class="col-md-4 col-lg-4" id="show-skillstools">
    	<div id"show_skills">
   	 		<ul>
   	 		<p>Skills wanted :</p>
   	 		<% @project.skills.each do |s|%>
   	 			<li class="pad-top"><%= s.name%></li>
   	 		<%end%>
   	 		</ul>	
  		</div>	

		<div id="show_tools" class="pad-top">	
	 		<ul>
	 		<p>Tools needed :</p>
   	 		<% @project.tools.each do |t|%>
   	 			<li class="pad-top"><%= t.name%></li>
   	 		<%end%>
	 		</ul>
		</div>
		<!-- <div id="book_it" class="display-subtotal fixed" style="top: 40px;">
			<div class="panel">
				<div class="panel-body panel-light">
				    <div class="row">
						<div class="col-sm-5 pad-top" style="text-align:center">
							<div><p id="pioneer"></p>
							</div>
							<a href="" class="btn" id="volunteer">Become a volunteer</a>
							<div id="share"><Share this project to help his pioneer to find volunteers
								<div id="social_share"> 
								<%= social_share(@project.name, project_path(@project), services: [:facebook, :twitter, :google_plus, :reddit]) %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div> -->
    </div>
</div>

<div class="row">
	<div id="map" style='width: 90%; height: 400px;'></div>
	</div>
	<script type="text/javascript">
		handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
			markers = handler.addMarkers(<%=raw @hash.to_json %>);
			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
	});
	</script>




<!-- <div class="row pad-top" id="secondrowshow">
	
	<div class="col-sm-8 well pad-top"> 
		<div id="show_project_desc">
			<%= @project.description %>
			<div style="color:red;">
    			inside the description allow people to add one photo or video
			</div>
		</div>
	</div>

	<div class="col-sm-1">
	</div>

	<div class="col-sm-3 well pad-top" id="col_tool_skill">
		<div id"show_skills">
   	 		<ul>
   	 		<p>Skills wanted :</p>
   	 		<% @project.skills.each do |s|%>
   	 			<li class="pad-top"><%= s.name%></li>
   	 		<%end%>
   	 		</ul>	
  		</div>	

			<div id="show_tools" class="pad-top">	
   	 		<ul>
   	 		<p>Tools needed :</p>
	   	 		<% @project.tools.each do |t|%>
	   	 			<li class="pad-top"><%= t.name%></li>
	   	 		<%end%>
   	 		</ul>
			</div>
	</div>
</div> -->

<div id="back">
	<%= link_to 'Edit', edit_project_path(@project) %>
	<%= link_to 'Back', projects_path %>
</div>
</div>
