<div class="container-fluid" id="show_project">
	
	<div class="panel panel-default" style="width:90%; margin:auto">	
		<div class="panel-heading" id="show_project_title">
					<%= @project.name %> </br>
		</div>

		<div class="panel-body" style="width:95%; margin:auto">
			<div class="row">
				<div class="col-sm-8">
					<%= image_tag @project.image.url(:showth)%>
				</div>
				<div class="col-sm-4 well" style="text-align:center">
					<div><p id="pioneer"></p></div>
						<a href="" class="btn" id="volunteer">Become a volunteer</a>
					<div id="share">Share this project to help his pioneer to find volunteers
						<div id="social_share"> 
							<%= social_share(@project.name, project_path(@project), services: [:facebook, :twitter, :google_plus, :reddit]) %>
						</div>
					</div> 
				</div>
			</div>
			
			
			<div class="row pad-top">
				
				<div class="col-sm-8 well pad-top"> 
					<div id="show_project_desc">
						<%= @project.description %>
						<div style="color:red;">
			    			inside the description allow people to add one photo or video
						</div>
					</div>
				</div>

				<div class="col-sm-1">
				</div>

				<div class="col-sm-3 well pad-top" id="col_tool_skill">
					<div id"show_skills">
			   	 		<ul>
			   	 		<p>Skills wanted :</p>
			   	 		<% @project.skills.each do |s|%>
			   	 			<li><%= s.name%></li>
			   	 		<%end%>
			   	 		</ul>	
			  		</div>	

		  			<div id="show_tools" class="pad-top">	
			   	 		<ul>
			   	 		<p>Tools needed :</p>
				   	 		<% @project.tools.each do |t|%>
				   	 			<li><%= t.name%></li>
				   	 		<%end%>
			   	 		</ul>
		  			</div>
				</div>
			</div>
		</div>
	</div>

<div id="back">
	<%= link_to 'Edit', edit_project_path(@project) %>
	<%= link_to 'Back', projects_path %>
</div>
</div>
