<!DOCTYPE html>
<html>
<head >
  <title>Byw</title>

  <!-- font1: title -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <!-- font2 -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-xs-2 col-sm-1 navbar navbar-default navbar-fixed-top" id="home_header">
      <%= link_to "BYW", root_path%>
      <%if user_signed_in?%>
        <%= link_to "Your account", edit_user_registration_path%>
      <%else%>
        <%= link_to "Sign up", new_user_registration_path%>
      <%end%>
      <%= link_to "Log in", new_user_session_path%>
      <%= link_to 'New Project', new_project_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete%>
      <a href="" class="btn">Emergency</a>
    </div>
    
    <div class="col-xs-10 col-sm-11" id="home">
      <%= yield %>
    </div>
  
  </div>

  <div class="row">
    <footer class="footer" id="footer">
      <a href="" class="btn">Contact us</a>
      <a href="" class="btn">Facebook</a>
      <a href="" class="btn">Twitter</a>
    </footer>
  </div>

</div>




</body>
</html>
