<!DOCTYPE html>
<html>
<head >
  <title>Byw</title>

  <!-- font1: title -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <!-- font2 -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header  id="home_header">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= link_to "BYW", root_path%>
  <%= link_to "Sign up", new_user_registration_path%>
  <%= link_to "Log in", new_user_session_path%>
</header>
<screen id="screen">
  <p id="namesite">Build your wolrd</p>
</screen>

<%= yield %>

</body>
</html>
