<!DOCTYPE html>
<html>
<head >
  <title>Byw</title>

  <!-- font1: title -->
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <!-- font2 -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-sm-1" id="home_header">
      <p class="notice"><%= notice %></p>
      <%= link_to "BYW", root_path%>
      <%= link_to "Sign up", new_user_registration_path%>
      <%= link_to "Log in", new_user_session_path%>
      <%= link_to 'New Project', new_project_path %>
    </div>
    <div class="col-xs-10 col-sm-11">
      <%= yield %>
    </div>
  </div>

  <div class="row">
    <footer>
      CONTACT
    </footer>
  </div>
</div>




</body>
</html>
